interface loopback{{mgmnt_loopback}}
 description Management loopback
 ip address {{mgmnt_ip}} 255.255.255.255

logging {{log_server}}
ntp server {{ntp_server}}

{% for user, password in users.items() %}
 username {{user}} secret {{password}}
{% endfor %}
